<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Triwizard Tournament!</title>
    <link rel="stylesheet" type="text/css" href="/css/quiz.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/quiz.css" th:remove="all">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/sse.js"></script>
</head>
<body>
<div id="nav-next"><span>&gt;</span></div>
<div id="grid-wrapper">
    <div id="players">
        <div>Players</div>
        <th:block th:each="player : ${players}" th:remove="all-but-first">
            <div th:with="house=${player.house.shorthand}"
                 th:fragment="player-fragment"
                 class="player-details"
                 th:if="${player.readyStatus}" th:id="${player.id}">
                <div class="player-name" th:classappend="${house + '-dark'}" th:text="${player.name}">Kevin</div>
                <div class="player-score" th:classappend="${house + '-light'}" th:text="${player.points}">300</div>
            </div>
            <div class="player-details">
                <div class="player-name gf-dark" th:text="${player.name}">Germaine</div>
                <div class="player-score gf-light" th:text="${player.points}">300</div>
            </div>
            <div class="player-details">
                <div class="player-name sl-dark" th:text="${player.name}">Joe</div>
                <div class="player-score sl-light" th:text="${player.points}">300</div>
            </div>
            <div class="player-details">
                <div class="player-name hf-dark" th:text="${player.name}">Germaine</div>
                <div class="player-score hf-light" th:text="${player.points}">300</div>
            </div>
            <div class="player-details">
                <div class="player-name rc-dark" th:text="${player.name}">Joe</div>
                <div class="player-score rc-light" th:text="${player.points}">300</div>
            </div>
        </th:block>
    </div>

    <div id="question-wrapper">
        <p id="question" th:text="${current.question}">Who killed Dumbledore?</p>
        <div class="choices">
            <!--/*/ <th:block th:remove="all-but-first"> /*/-->
            <th:block th:each="choice : ${current.choice}">
                <p class="choice" th:text="${choice.displayText}">Snape</p>
            </th:block>
            <p class="choice">Voldemort</p>
            <p class="choice">Harry Potter</p>
            <!--/*/ </th:block> /*/-->
        </div>
        <!--<a href="/game/next" th:text="${'The boy who lived'}">next</a>-->
    </div>

</div>

</body>
</html>