<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Triwizard Tournament!</title>
    <link rel="stylesheet" type="text/css" href="/css/quiz.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/quiz.css" th:remove="all">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/sse.js"></script>
</head>
<body>
<div th:fragment="end">
    <div>End of quiz</div>
</div>

</body>
</html>