<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Triwizard Tournament!</title>
    <link rel="stylesheet" type="text/css" href="/css/quiz.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/quiz.css" th:remove="all">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/sse.js"></script>
</head>
<body>

<div class="question-wrapper no-grid" th:fragment="start">
    <div class="start">START GAME</div>
</div>
<div class="question-wrapper no-grid" th:fragment="end">
    <div class="end">This is the end</div>
</div>

<div class="question-wrapper no-grid" th:fragment="result">
    <div class="result" th:text="'The top student' + ${#lists.size(winners) &gt; 1 ? 's' : ''}">Winners</div>
</div>




</body>
</html>