/*#grid-wrapper{*/
/*display: grid;*/
/*grid-template-columns: 25% 75%;*/
/*}*/

body {
    /*background-color: #363e47;*/
    background-color: #f9f7f1;
    font-family: 'Playfair Display', serif;

}

#players {
    border: red solid 1px;
    /*display: grid;*/
    /*grid-template-columns: auto auto;*/
    width: 25%;
    position: fixed;
    height: 100%;
    font-size: 1.5em;
    z-index: 1;
}

.player-details {
    margin: 1em;
    /*background: #c5b11e;*/
    display: grid;
    grid-template-columns: 60% auto;
    border-radius: 10px;
    box-shadow: -5px 3px #312727;
}

.player-details * {
    display: inline-block;
}

.player-name {
    justify-content: right;
    box-sizing: border-box;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    padding: 0.5em 0 0.5em 0.5em;
}

.player-score {
    text-align: right;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em 0;
    border-radius: 0 10px 10px 0;
    margin-left: 0;
}

#players p {
    padding: 0 0.5em;
}

.question-wrapper {
    border: green solid 1px;
    margin-left: 25%;
    height: 100%;
    width: 70%;
    position: fixed;
    display: grid;
    grid-template-rows: auto auto;
}

#question {
    font-size: 2.5em;
    font-weight: bolder;
    color: #2f2f2f;
    text-align: center;
    margin: 0.3em 0;
    align-self: center;
    font-family: 'Droid Serif', Serif;

}

.choices {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Droid Serif', Serif;
    color: #2f2f2f;
}

.choice {
    background-color: antiquewhite;
    /*margin: 0.5em;*/
    padding: 0.5em;
    text-align: center;
    /*border-radius: 15px;*/
    box-shadow: -5px 5px #9c9c9c;
}

#nav-next {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
    background-color: #bbb;
    bottom: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    color: #ffffff;
    font-size: 3em;
    text-align: center;
    /*display: grid;*/
    /*grid-template-rows: auto;*/

}

#nav-next span {
}

/*Color paletter for each houses*/

/*Gryffindor*/
.gf-dark {
    background-color: #740001;
    color: #d3a625;
}

.gf-light {
    background: #ae0001;
    color: #eeba30;
}

/*Slytherin*/
.sl-dark {
    background-color: #1a472a;
    color: #bebebe;
}

.sl-light {
    background-color: #2a623d;
    color: #bebebe;
}

/*Hufflepuff*/
.hf-dark {
    background-color: #726255;
    color: #ecb939;
}

.hf-light {
    background-color: #f0c75e;
    color: #000000;
}

/*Ravenclaw*/
.rc-dark {
    background-color: 	#0e1a40;
    color: 	#bfbebe;
}

.rc-light {
    background-color: 	#222f5b;
    color: 	#946b2d;
}


.start, .end{
    font-size: 5em;
    margin: auto;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    text-decoration: underline;
}

.end{
    /*background-color: ;*/
}

.no-grid{
    grid-template: none;
}