/*#grid-wrapper{*/
/*display: grid;*/
/*grid-template-columns: 25% 75%;*/
/*}*/

body {
    background-color: #363e47;

}

#players {
    border: red solid 1px;
    /*display: grid;*/
    /*grid-template-columns: auto auto;*/
    width: 25%;
    position: fixed;
    height: 100%;
    font: 1em Arial;
    z-index: 1;
}

.player-details {
    margin: 1em;
    /*background: #c5b11e;*/
    display: grid;
    grid-template-columns: 60% auto;
}

.player-details * {
    color: #fff396;
    display: inline-block;
}

.player-name {
    justify-content: right;
    box-sizing: border-box;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
    background-color: forestgreen;
    padding: 0.5em 0 0.5em 0.5em;
}

.player-score {
    text-align: right;
    box-sizing: border-box;
    padding: 0.5em 0.5em 0.5em 0;
    background-color: #5d745e;
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    color: #f1f1f1;
}

#players p {
    padding: 0 0.5em;
}

#question-wrapper {
    border: green solid 1px;
    margin-left: 25%;
    height: 100%;
    width: 70%;
    position: fixed;
    display: grid;
    grid-template-rows: auto auto;
}

#question {
    font: 3em Arial;
    color: whitesmoke;
    text-align: center;
    margin: 0.3em 0;
}

.choices {
    width: 80%;
    margin: 0 auto;
    font: 1.3em Arial;
}

.choice {
    background-color: antiquewhite;
    /*margin: 0.5em;*/
    padding: 1em;
    text-align: center;
    border-radius: 15px;
}

#nav-next {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    border-radius: 50%;
    background-color: #bbb;
    bottom: 30px;
    left: 30px;
    height: 50px;
    width: 50px;
    color: #ffffff;
    font-size: 3em;
    text-align: center;
    /*display: grid;*/
    /*grid-template-rows: auto;*/

}

#nav-next span {
}