<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script type="text/javascript" src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
    <p>Game start</p>
    <a href="/game/init">Start</a>
    <div>
        <p>Players</p>
        <div id="players"></div>
    </div>
    <div>
        <p>Questions</p>
        <div id="question"></div>
    </div>

    <button id="connect">Connect websocket</button>
    <button id="disconnect">Disconnect websocket</button>
    <button id="send">Test socket</button>


    <div>
        <p>Message from server</p>
        <p id="greetings"></p>
    </div>
</body>
</html>